.deposit-container {
  background-color: #f0f0f0;
  padding: 2rem;
  font-family: Arial, sans-serif;
  max-width: 70rem; /* 800px */
  margin: 0 auto;
}

.balance-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem; /* 20px */
}

.balance-box {
  background-color: #fff;
  padding: 1rem; /* 15px */
  border-radius: 0.3125rem; /* 5px */
  width: 45%;
  text-align: center;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1); /* 2px 5px */
}

.balance-box p:first-child {
  color: #666;
  margin-bottom: 0.3125rem; /* 5px */
}

.balance-box p:last-child {
  font-size: 1.2rem; /* 1.2em */
  font-weight: bold;
  color: #333;
}

.deposit-section {
  margin-bottom: 1.25rem; /* 20px */
}

.action-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.625rem 1.25rem; /* 10px 20px */
  margin-right: 0.625rem; /* 10px */
  border-radius: 0.3125rem; /* 5px */
  cursor: pointer;
  font-size: 0.875rem; /* 14px */
}

.action-button:hover {
  background-color: #0056b3;
}

.deposit-input {
  margin-top: 0.625rem; /* 10px */
}

.deposit-input input {
  width: 100%;
  padding: 0.625rem; /* 10px */
  font-size: 1rem; /* 16px */
  border: 0.0625rem solid #ccc; /* 1px */
  color: #000;
  border-radius: 0.3125rem; /* 5px */
  box-sizing: border-box;
}

/* Styling the placeholder */
.deposit-input input::placeholder {
  color: #888; /* Placeholder color */
  font-style: italic; /* Italicized text */
}

.transaction-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.625rem; /* 10px */
}

.transaction-button {
  background-color: #fff;
  border: 0.0625rem solid #ccc; /* 1px */
  padding: 0.9375rem; /* 15px */
  border-radius: 0.3125rem; /* 5px */
  cursor: pointer;
  font-size: 0.875rem; /* 14px */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1); /* 2px 5px */
}

.transaction-button.featured {
  background-color: #e9ecef;
  font-weight: bold;
}

.transaction-button:hover {
  background-color: #f8f9fa;
}
