/* Navbar container */
.navbar {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1f3b;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffd700;
}



/* This will apply the styles to the Link component */
.logo .logo-link {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Inherits the color from the parent or specify a custom color */
}


/* Container for the navigation links */
.navbar-links {
  display: flex;
  justify-content: center; /* Center the links horizontally */
  align-items: center; /* Center the links vertically */
  margin: 0;
  padding: 0;
  gap: 1.5rem; /* Space between links */
}

/* Individual navigation item */
.navbar-item {
  text-decoration: none; /* Removes the underline */
  color: #fff; /* Default color */
  font-size: 16px; /* Font size */
  font-weight: 500; /* Medium font weight */
  padding: 8px 12px; /* Padding around the text */
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover */
}

/* Hover effect */
.navbar-item:hover {
  color: #ffd700; /* Green on hover */
  transform: translateY(-2px); /* Slight lift effect */
}

/* Active link style (assuming you handle active class with React Router) */
.navbar-item.active {
  color: #ffd700; /* Green color for active state */
  font-weight: bold; /* Bold text when active */
}


/* Profile section */
.profile {
  display: flex;
  align-items: center;
  gap: 15px;
}



.hamburger-container {
  display: none;
}

@media (max-width: 730px) {
  .navbar-links, .profile {
    display: none;
  }

  .hamburger-container {
    display: flex;
  }
}

